@page "/Signer/Create"
@model DocumentManager.Pages.Signers.CreateModel

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <!-- Main Content -->
        <div class="col py-3">
            <!------------------>
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Signer.Name" class="control-label"></label>
                            <input asp-for="Signer.Name" class="form-control" />
                            <span asp-validation-for="Signer.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                        <label asp-for="Signer.Pid" class="control-label"></label>
                        <select asp-for="Signer.Pid" class="form-control" asp-items="ViewBag.Pid"></select>
                        </div>

                        <div class="form-group" style="margin-top:30px">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a role="button" asp-page="./index" class="btn btn-danger">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<div class="form-group">
    <label asp-for="Signer.Pid" class="control-label"></label>
    <select asp-for="Signer.Pid" class="form-control" asp-items="ViewBag.Pid"></select>
</div>*@