@page "/emergency/index"
@model DocumentManager.Pages.Emergencies.IndexModel

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <!-- Main Content -->
        <div class="col py-3">
            <!-- Button feature -->
            <div class="row mb-3">
                <div class="col">
                    <a class="btn btn-primary" asp-page="./Create">New NameDocument</a>
                </div>
            </div>
            <!------------------>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Level</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Emergency)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Level)
                                </td>
                                <td>
                                    <a class="btn btn-info" href="Details?id=@item.Id"><i class="fas fa-eye"></i></a>
                                    <a href="Edit?id=@item.Id" class="btn btn-primary btn-sm edit" title="Edit"><i class="fa fa-edit"></i></a>
                                    <a href="Delete?id=@item.Id" class="btn btn-primary btn-sm edit" title="Delete"><i class="fa fa-trash"></i></a>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

