<!-- Sidebar -->
<div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center px-3 pt-2 min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="#" class="nav-link text-white align-middle px-0">
                    <i class="fas fa-home"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white px-0 align-middle">
                    <i class="fas fa-table"></i> <span class="ms-1 d-none d-sm-inline">Data</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white px-0 align-middle">
                    <i class="fas fa-cog"></i> <span class="ms-1 d-none d-sm-inline">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</div>